
<section class="section profileSection">
  <img src="<%- user.picture %>" alt="">
  <h1> <%- user.name %> </h1>
  <p> <%- user.mail %> </p>
</section>

<section class="section">
  <% for (let i = posts.length - 1, post = posts[i]; i > - 1; post = posts[--i]) { %>
    <div class="post">
      <h3> <%- post.title %> </h3>
      <p class="postContent"> <%- post.content.replaceAll("\n", "<br>") %> </p>
      <p class="postBy"> - <%- post.by %> </p>
      <div class="postFooter">
        <p> 
          <img class="profile" src="/static/icons/love.svg" alt="Likes ">
          <%- post.likes %>
        </p>
        <p class="postDate">
          <%- post.createdAt.toLocaleDateString() %>
        </p>
      </div>
    </div>
  <% } %>
</section>
