
<section class="section profileSection">
  <img src="<%- user.picture %>" alt="">
  <h1> <%- user.name %> </h1>
  <p> <%- user.mail %> </p>
</section>

<section class="section">
  <% for (const post of posts) { %>
    <div class="post">
      <h3> <%- post.title %> </h3>
      <p class="postContent"> <%- post.content %> </p>
      <p class="postBy"> - <%- post.by %> </p>
      <div class="postFooter">
        <p> 
          <img class="profile" src="/static/icons/love.svg" alt="Likes ">
          <%- post.likes %>
        </p>
      </div>
    </div>
  <% } %>
</section>
