
<h1> <%- user.name %> </h1>
<p> <%- user.mail %> </p>

<h2> Posts </h2>
<% for (const post of posts) { %>
  <div class="post">
    <h3> <%- post.title %> </h3>
    <p> <%- post.content %> 
      <strong> - <%- post.by %> </strong>
    </p>
    <p> 
      <img src="/static/icons/love.svg" alt="Likes ">
      <%- post.likes %>
    </p>
  </div>
<% } %>
